body{
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    margin: 20px;
}

#title{
    text-align: center;
}