canvas {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
  
/* #particles-js {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
} */


#about{
    position: absolute;
    z-index: 5;
    min-height: 1000px;
}

#about-info{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}

#info1{
    padding: 20px;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.8);
    width: 100%;
    grid-column: 2;
}

#info1 p{
    font-size: 1.25em;
    display:
}

#info1 span{
    font-weight: bold;
    font-size: 1.2em;
}

#info2{
    grid-column: 2;
    width: 100%;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.8);
    margin-top: 15px;
}

#info2 h3{
    text-align: center;
    font-weight: bold;
}

#info2 {
    padding: 20px;
    font-size: 1.25em;
    width: 100%;
    grid-column: 2
}

 li span{
    font-weight: 600;
    font-size: 1.4em;
    padding-right: 3px;
}

#thing hr{
    width: 100%;
}

#person{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-size: contain;
}

@media (max-width: 515px){
    #about-ban-background{
        height: 100px;
    }
    #thing h1{
        margin-bottom: .35rem;
    }
}