body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: arial;
    height: 100%;
    width: 100%;
    /* background-color: #FFE066; */
    z-index: -1;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header{
    background-color: #FFE066;
    top: -10px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

a{
    text-decoration: none;
}

header p{
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

nav{
    position: relative;
    margin-top: 0px;
    display: flex;
    background: #50514F;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    height: 15%;
    padding-left: 3px;
    padding-right: 3px;
}

nav a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: space-around;
    padding: 10px;
    color: white;
    z-index:1;
    font-weight: bolder;
    font-size: 1.2em;
    
}

nav a:hover{
    background-color: #FFE066;
    color: black;
}

h1{
    font-size: 3.5em;
   font-family: 'Helvetica Neue', sans-serif;
   font-weight: bold;
   letter-spacing: -1px; 
   line-height: 1;
}

.schedule{
    position: absolute;
    width: 100%;
    height: 10vh;
    float: top;
}

.schedule ul{
    margin-left: 8x;
}

.parallax1{
    height: 600px;
    width: 100%;
    position: relative;
    display: flex;
    background-image: url(./images/succulents.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.parallax1 .schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    background: #247BA0;
    top: 10%;
    height: 45%;
    /* padding: 10px; */
    width: 100%;
    border-radius: 20px;
}
.parallax1 .schedule ul{
    padding-left: 10px;
    line-height: 1.5em;
}

.parallax1 .schedule h3, h5{
    line-height: .3em;
}

.parallax2{
    display: flex;
    height: 30vh;
    width: 100%;
    background-image: url(./images/succulents.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax1 > img,
.parallax2 > img{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.about-container{
display: flex;
position: fixed;
height: 600px;
width: 100px;
background-color: #50514F;
}
.menuBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    background-color: #70C1B3;
    padding-top: 20px;
    /* opacity: .75; */
}

.benefits,
.about,
.calendar,{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.calendar span{
    padding-left: 40px;

}

h3.menuText{
    display: block;
    font-size: 3em;
    color: #fff;
    width: 100%;
}

span{
    width: 100%;
    height: 100%;
}

/* Footer */
 .container{
    display: flex;
    justify-content: center;
    background-color: #F25F5C;
    height: 50px;
    z-index: 2;
    color: white;
}

@media only screen and (min-width: 1024px){
    .menuBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 400px;
    }
}

@media only screen and (min-width: 768px){
    .menuBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 400px;
    }
    .parallax1 .schedule{
        height: 45%;
        width: 50%;
        left: 25%;
    }
}