body{
    display: flex;
    flex-direction: column;
    font-family: arial;
    height: 100%;
    width: 100%;
    /* background-color: #F25F5C; */
    z-index: -1;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header{
    background-color: #F25F5C;
    top: -10px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

nav{
    position: relative;
    margin-top: 0px;
    display: flex;
    background: #50514F;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    height: 15%;
}

nav a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: space-around;
    padding: 10px;
    color: white;
    z-index:1;
}

nav a:hover{
    background-color: #F25F5C;
    color: black;
}

h1{
    font-size: 5em;
   font-family: 'Helvetica Neue', sans-serif;
   font-weight: bold;
   letter-spacing: -1px; 
   line-height: 1;
}
.padmasana{
    display: flex;
    flex-direction: column;
    background-image: url(./exercises/business-images/padmasana.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start;
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
}

.parallax1{
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url(./images/succulents.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax2{
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url(./images/succulents.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax1 > img,
.parallax2 > img{
    height: 100%;
    width: 100%;
    z-index: 1;
}

.about-container{
display: block;
position: relative;
height: 450px;
width: 100%;
background-color: #50514F;
z-index:2;
/* bottom: 100px; */
}

.text-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    color: white;
    padding: 2px;
    position: absolute;
}

.text-container-1 > img{
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.text-container-1 #staff1{
    padding: 10px;
    height: 100%;
    width: 50%;
}

.text-container-1 #staff2{
    padding: 10px;
    height: 100%;
    width: 50%;
}

.text-container-2{
    padding: 15px;
    background-color: grey;
    opacity: .9;
    height: 300px;
    width: 100%;
}

.text-container-2a{
    color: white;
    opacity: .9;
}

.menuBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: #247BA0;
    padding-top: 20px;
    /* opacity: .75; */
}

.benefits,
.about,
.calendar,{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    text-decoration: none;
}


.calendar span{
padding-left: 40px;
}

h3.menuText{
    display: block;
    font-size: 3em;
    color: #fff;
    width: 100%;
}

span{
    width: 100%;
    height: 100%;
}

/* Footer */
 .container{
    display: flex;
    justify-content: center;
    background-color: #FFE066;
    height: 50px;
    z-index: 2;
    color: white;
}

@media only screen and (min-width: 1024px){
    .menuBox{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 400px;
    }
    .text-container-2{
        height: 100px;
        padding-right: 20px;
    }
    .about-container{
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }        
}

@media (min-width: 768px){
    .menuBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 400px;
    }
    .text-container-2{
        height: 200px;
    }
    .about-container{
        height: 200px;
        padding-left: 40px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 425px){
    .text-container-2{
        height: 40%;
    }
    .about-container{
        height: 380px;
    }
}