svg{
  fill: white !important;
}
#home canvas {
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 600px;
  background: #131623;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

#home{
  height: 600px;
}

#watson-logo{
  position: absolute;
  z-index: 3;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 600px;

}
