/* #results-details{
    height: 100%;
    width: 100%;
} */

#results-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5%;
    height: 610px;
}

#big-five-box{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.8);
    padding: 5px;
    padding-left: 10px;
}

#needs-box{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.8);
    padding: 5px;
    padding-left: 10px;
}

#values-box{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.8);
    padding: 5px;
    padding-left: 10px;
}

h3{
    color:rgb(233,88,73) !important
}

@media (maxwidth: 600px){
    #results-details{
        height: auto;
    }

    #big-five-box{
        grid-column: 0/3;
    }
    #needs-box{
        grid-column: 0/3;
    }
    #values-box{
        grid-column: 0/3;
    }
}