#input-options{
    display: grid;
    grid-template-columns: .25fr 1fr;
}

#pre-loaded{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
#speeches{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#speeches h3{
    color: rgb(255,255,255) !important;
    height: auto;
    margin-top: 20px;
    margin-left: 22px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 3000px rgba(87,139,196,0.9);
    padding: 5px 30px 5px 25px;
}

.text{
    padding-bottom: 5px;
}

#analyzebutton{
    margin-left: 15px;
    border-radius: 4px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.5);
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

#textInput{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#text-area{
    background: #fff;
    color: #525865;
    border-radius: 4px;
    overflow-y: scroll;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.5);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    padding: 0.6em 1.45em 0.7em;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

#text-area:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.5);
}
#text-area:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.5);
  }