body{
    margin: 0;
    font-family: sans-serif
}
.nav{
    background: rgba(248,80,47,1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 20px;
    margin: 0;
}

.nav a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 800;
    color: #ffffff
}

.nav a:hover{
    color: rgba(0,0,0,.5)
}

.home h1{
    margin-top: 0;
}
/* .home h1{
    margin-top: 0;
    padding-top: 50px;
    grid-column: 1/4;
    text-align: center;
    font-size: 5em;
    color: rgba(255,255,255)
} */

.footer{
    background-color: rgb(35,35,35);
    color: rgb(255,255,255);
}
.footer ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

.footer li{
    list-style-type: none;
}
/* Themes */

.dark{
    background-color: rgb(55,55,55);
    color: rgb(2, 126, 179);
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 40px;
}

.light{
    background-color: rgb(250, 239, 224);
    color: rgb(1, 88, 126);
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 40px;
}