#square{
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
    top: 200px;
    left: 35%;
    margin-bottom: 800px;
}

h1{
    position: relative;
    left: 17%;
    font-size: 6em;
}
