 /* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
} */

body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
/* #first-div{
} */