@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
@font-face { 
    font-family: 'verdemoderna';
    src: url('./fonts/verdemoderna.woff') format('woff');
    }
@font-face { 
    font-family: 'italic';
    src: url('./fonts/italic.woff') format('woff');
    }

*{
    box-sizing: border-box;
}

body{
  color: #325050;
  font-family: 'Libre Baskerville', sans-serif;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', 'sans-serif';
  background: #fff;
}

a{
    text-decoration: none;
    color: #0d8ba1;
}

a:visited{
    color: #1a5952;
}

h1{
    display: block;
    font-family: 'Julius Sans One', 'sans-serif';
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 2em;
}

h2{
    display: block;
    font-style: italic;
    color: #fff;
    font-weight: 100;
    opacity: .6;
    grid-row: 2;
    margin-top: 0px;
    margin-bottom: 15px;
}

.about h3{
    width: 80%;
}

h3{
    font-family: 'Julius Sans One', 'sans-serif';
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 2em;
    margin-bottom: .8em;
    /* line-height: 1.2;
    margin: 2em 0 0 0; */
}

p{
    line-height: 2;
}

.header{
    /* grid-column: 1/-1;
    grid-row: 1; */
    /* display: grid; */
    background-image: url(./assets/contours@2x.png),url(./assets/noise.png), url(./assets/gridlines.png),url(./assets/huntington.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: 50%, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: center;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    width: 100%;
    background-color: #325050;
    text-align: center;
    font-size: 70%;
}
.title-wrapper{
    height: 45%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.enso{
    display: block;
    opacity: .6;
    background: url(./assets/enso.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 55px;
    width: 50px;
    margin: 1em 0 .75em 0;
    align-self: center;
}
.subtitle-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.view-designs{
    display: flex;
    grid-row: 2;
    height: 12vh;
    width: 100%;
    margin-top: 5vh;
}
.view-designs ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 3%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    font-weight: lighter;
    font-size: .9em;
    z-index: 100;
}

.view-designs ul:hover{
    background-color: rgba(255, 255, 255, .2);
    transition: 0.2s ease-in;
}

.view-designs a{
    color: rgba( 255,255,255,.7)
}

.all-designs{
    color: rgba(255,255,255, .8);
}

.all-designs h3{
    margin-top: 0;
    margin-bottom: 0;
}

.back, .forward{
    font-family: 'verdemoderna';
    color: rgba(255,255,255, .8);
    font-size: 4em;
}

.mainLeft{
display: block;
grid-column: 1/-1;
grid-row: 2/3;
font-size: 85%;
margin-bottom: 2em;
margin-right: 0;
}

.intro, .enlightenment, .about{
    margin: 0 10%;
}
.intro{
    padding-top: 2em;
}

.about{
    margin-bottom: 3em;
}

.section2{
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(./assets/contours-opaque.png), url(./assets/gridlines-opaque.png), url(./assets/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
}
.participation{
    /* background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(./contours-opaque.png), url(./gridlines-opaque.png), url(./bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover; */
    padding: 10px 10% 15px 10%;
}

.participation, .benefits, .requirements h3{
    margin-top: 1.5em;
}

.requirements{
    margin: 0 10%;
}

.pre-footer{
    grid-column: 1/-1;
    grid-row: 3;
    display: flex;
    background-image: url(./assets/contours@2x.png),url(./assets/noise.png), url(./assets/gridlines.png), url(./assets/koi.jpg);
    background-size:  50%, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'italic';
    margin: 0;
    width: auto;
    height: auto;
    /* padding: 1.5em; */
}

.pre-footer p{
    margin: 0;
    padding: 1em 6%;
    transition: 0.3s ease-out;
    text-align: center;
}

.footer{
    grid-column: 1/-1;
    grid-row: 4;
    background-color: #325050;
    height: 14vh;
    font-family: 'verdemoderna';
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: .5em;
    padding-right: .5em; */
}

.footer a {
    color: rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
}

.footer .icons-container .icon a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.footer .icons-container .icon a:visited{
    color: white;
}

.footer .icons-container .icon a:link{
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.icons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    transition: 0.5s ease-out;
}

.icon{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
}

.html-logo,.css-logo,.cc-logo,.access-logo,.github-logo{
    font-size: 1em;
}

.pre-footer a:link{
    text-decoration: none;
    color: #fff;
    opacity: .7;
    font-family:'Libre Baskerville', sans-serif;
}


.mainRight{
    grid-column: 1/-1;
    grid-row: 5;
    margin: 0px; /*Sometimes -20px*/
    background-color: #EEF4F0;
    overflow: hidden;
}

.wrapper{
    overflow: hidden;
}

.wrapper ul{
    margin: 0;
    list-style: none;
    margin-block-start: 0;
    padding: 0;
    overflow: hidden;
}

.examples{
    padding-bottom: 10px;
    overflow: auto;
    transition: 0.3s ease-out;
}

.examples ul{
    height: auto;
}

.examples li{
    border-top: solid 1px #d9e3dc;
    margin-bottom: 15px;
    padding-inline-start: 15px;

}

.examples h3{
    font-size: 1.2em;
    color: #607476;
    margin-top: 10px;
}

.examples a:link{
    text-decoration: none;
    color: #616857;
    font-size: .7em;
}

.examples span{
   color: #c0cac3;
   font-family: 'italic';
   font-size: .9em;
}

.resources{
    background-attachment: fixed;
    background-color: rgba(138,188,159,0.3);
    background-image: url(./assets/bamboo.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: 0.3s ease-out;
}

.resources li{
    display: block;
    border-top: solid 1px #a0b9ad;
    padding-inline-start: 15px;
}

.resources h3{
    font-size: 1.2em;
    color: #607476;
    margin-top: 10px;
}

/* Display Styling */

.hide1{
    display: none;
}

.hide1 a{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.15em;
}

.hide1 a::before{
    font-family: 'verdemoderna';
    content: "D";
    font-size: 1.15em;
    color: #a9b995;
    background-color: #d9e1cd;
    border-radius: 2px;
    margin: 2px 4px 0px 0px;
    /* top: 6px;
    left: 8px; */
}

.hide2{
    display: none;
}

.wrapper li:nth-child(2n+1){
    clear: left;
}

@media screen and (min-width: 375px){

    h1{
        font-size: 2.5em;
    }
    .wrapper h3{
        margin-bottom: .25em;
    }
   
    .examples li{
        display: inline-block;
        float: left;
        width: 50%;
        padding: 1.5% 5%;
        margin: 0;
    }

    .resources ul{
        height: 100%;
    }
    .resources li{
        display: inline-block;
        float: left;
        width: 50%;
        padding: 1.5% 5%;
        margin: 0;
    }
    .resources li:last-child{
        display: block;
        float: none;
        width: auto;
        border-bottom: solid 1px #a0b9ad;
    }
    .pre-footer{
        font-size: 1.4em;
        height: 35vh;
    }
    .footer{
        height: 16vh;
    }
    
    .html-logo,.css-logo,.cc-logo,.access-logo,.github-logo{
        font-size: 1.15em;
    }
}

@media screen and (min-width: 425px){
    .footer{
        height: 20vh;
    }
    .html-logo,.css-logo,.cc-logo,.access-logo,.github-logo{
        font-size: 1.25em;
    }
}

@media screen and (min-width: 500px){
    .title-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30%;
        margin-top: 25px;
    }
    .zen-wrapper{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    h1{
        /* display: inline; */
        margin-top: 10px;
    }

    .subtitle-wrapper {
        position: absolute;
        top: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .subtitle-wrapper h2{
        margin-left: 40px;
    }

    h2{
        display: block;
        /* justify-self: flex-end; */
    }

    .pre-footer{
        height: 28vh;
    }

    .icons-container{
        width: 95%;
    }

    .html-logo,.css-logo,.cc-logo,.access-logo,.github-logo{
        font-size: 1.5em;
    }
}

@media screen and (min-width: 600px){
    h1{
        font-size: 3.2em;
    }
    h2{
        font-size: 1.75em;
            
    }
    .enso{
        height: 80px;
        width: 80px;
    }
    .hide1{
        display: block;
    }
    .subtitle-wrapper{
        top: 14%;
    }
    .subtitle-wrapper h2{
        margin-left: 120px;
    }
    .icons-container{
        width: 60%;
    }
}

@media screen and (min-width: 768px){
    .pre-footer{
        justify-content: center;
        align-items: center;
    }
    .pre-footer p{
        width: 80%;
    }
}

@media screen and (min-width: 1140px){
    body{
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.15em;
    }
    
    .header{
        grid-column: 1/-1;
        grid-row: 1;
        font-size: 100%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        height: 45vh;
    }

    .header h1{
        font-size: 3.5em;
        margin-bottom: 0;
    }
    .title-wrapper{
        margin-top: 8vh;
        font-size: .8em;
    }
    .subtitle-wrapper{
        display: flex;
        justify-content: flex-start;
        grid-column: 1/2;
        margin-top: 0px;
    }
    .subtitle-wrapper h2{
        display: inline-block;
        margin-left: 275px;
        margin-top: 45px;
    }
    .enso{
        height: 125px;
        width: 125px;
    }

    .view-designs{
        grid-column: 2/3;
        grid-row: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: .6em;
        margin: 0;
        background-color: rgba(192, 202, 195, .1);
    }

    .view-designs ul{
        height: 20%;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .mainLeft{
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 60% 40%;
        margin-bottom: 0;
    }

    .hide2{
        display: flex;
    }

    .examples{
        grid-column: 2/3;
        grid-row: 1;
        z-index: 100;
        background-color: rgba(138,188,159,0.2);
    }

    .section1{
        grid-column: 1/2;
        grid-row: 1;
    }

    .section2{
        grid-column: 1/3;
        grid-row: 2;
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .participation{
        grid-column: 1/2;
    }

    .section3{
        grid-column: 1/3;
        grid-row: 3;
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .resources{
        grid-column: 2/3;
    }

    .requirements{
        grid-column: 1/2;
    }
    .requirements-fill{
        background-color: rgba(138,188,159,0.2);
    }

    .mainRight{
        display: none;
        z-index: 100;
    }

    .examples ul{
        height: auto;
        margin: 20% 25% 0 15%;
    }
    .examples li:first-child{
        border-top: none;
    }
    .examples li{
        width: 100%;
        padding: 25px 0 25px 0;
    }
    .examples h3{
        font-size: 1.5em;
    }
    .examples a:link{
        font-size: 1em;
    }
    .examples span{
        font-size: 1.1em;
    }

    .resources ul{
        height: auto;
        margin: 20% 25% 0 15%;
    }
    .resources li{
        width: 100%;
        padding: 15px 0 15px 0;
    }
    .resources h3{
        font-size: 1.3em;
    }
    .resources li:last-child{
        display: inline-block;
        width: 100%;
    }
    /* .wrapper li:nth-child(2n+1){
        clear: none;
    } */

    .pre-footer{
        grid-row: 5;
        font-size: 1.6em;
        height: 45vh;
    }

    .footer{
        grid-row: 6;
        height: 20vh;
    }

    .html-logo,.css-logo,.cc-logo,.access-logo,.github-logo{
        font-size: 2.0em;
    }
}

@media screen and (min-width: 1440px){
    .subtitle-wrapper h2{
        margin-left: 340px;
    }
}