@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
@font-face { 
    font-family: 'verdemoderna';
    src: url('./fonts/verdemoderna.woff') format('woff');
    }
@font-face { 
    font-family: 'italic';
    src: url('./fonts/italic.woff') format('woff');
    }

*{
    box-sizing: border-box;
}

body{
  color: #325050;
  font-family: 'Libre Baskerville', sans-serif;
  display: grid;
  grid-template-rows: 1fr auto auto auto auto;
  /* grid-template-areas:
  "h"
  "l"
  "f"
  "r"; */
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', 'sans-serif';
  background: #fff;
}

a{
    text-decoration: none;
    color: #0d8ba1;
}

a:visited{
    color: #1a5952;
}

h1{
    display: block;
    font-family: 'Julius Sans One', 'sans-serif';
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 35px;

}

h1::before{
    display: block;
    position: relative;
    content: "";
    opacity: .6;
    background: url(./enso.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 50px;
    top: 20px;
    left: 42%;
    padding: 0 0 35px 0;

}

h2{
    display: block;
    font-style: italic;
    color: #fff;
    font-weight: 100;
    opacity: .6;
    grid-row: 2
}

.about h3{
    width: 80%;
}

h3{
    font-family: 'Julius Sans One', 'sans-serif';
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 2em;
    margin-bottom: .8em;
    /* line-height: 1.2;
    margin: 2em 0 0 0; */
}

p{
    line-height: 2;
}

.header{
    grid-column: 1/-1;
    grid-row: 1;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./contours@2x.png),url(./noise.png), url(gridlines.png),url(./huntington.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: 50%, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: center;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    width: 100%;
    /* background: #325050; */
    text-align: center;
    font-size: 70%;
}
.view-designs{
    display: flex;
    grid-row: 3;
    height: 25vh;
    background-color: rgba(255, 255, 255, .3);
    width: 100%;
}
.view-designs ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0;
    margin: 0;
    width: 100%;
    height: 25vh;
    /* background-color: rgba(255, 255, 255, .9); */
    /* height: 70px;
    margin-top: 20px; */
}

.all-designs{
    color: rgba(255,255,255, .8);
}

.all-designs h3{
    margin-top: 0;
    margin-bottom: 0;
}

.back, .forward{
    font-family: 'verdemoderna';
    color: rgba(255,255,255, .8);
    font-size: 4em;
}

.mainLeft{
display: block;
grid-column: 1/-1;
grid-row: 2;
font-size: 85%;
margin-bottom: 2em;
}

.intro, .enlightenment, .about{
    margin: 0 10%;
}
.intro{
    padding-top: 2em;
}

.about{
    margin-bottom: 3em;
}

.participation{
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(./contours-opaque.png), url(./gridlines-opaque.png), url(./bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    padding: 10px 10% 15px 10%;
}

.participation, .benefits, .requirements h3{
    margin-top: 1.5em;
}

.requirements{
    margin: 0 10%;
}

.pre-footer{
    grid-column: 1/-1;
    grid-row: 3;
    display: flex;
    background-image: url(./contours@2x.png),url(./noise.png), url(gridlines.png), url(./koi.jpg);
    background-size:  50%, cover;
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'italic';
    margin: 0;
    width: auto;
    height: 120px;
    text-align: center;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.footer{
    grid-column: 1/-1;
    grid-row: 4;
    background-color: #325050;
    height: 95px;
    font-family: 'verdemoderna';
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer a {
    color: rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
}

.footer .icons-container .icon a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.footer .icons-container .icon a:visited{
    color: white;
}

.footer .icons-container .icon a:link{
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.icons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.icon{
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
}

.pre-footer a:link{
    text-decoration: none;
    color: #fff;
    opacity: .7;
    font-family:'Libre Baskerville', sans-serif;
}


.mainRight{
    grid-column: 1/-1;
    grid-row: 5;
    margin-top: 0px; /*Sometimes -20px*/
    background-color: #EEF4F0;
}

.examples{
    padding-bottom: 10px;
}

.examples ul{
    list-style: none;
    padding-inline-start: 10px;
}

.examples li{
    border-top: solid 1px #d9e3dc;
    margin-bottom: 15px;
}

.examples h3{
    font-size: 1.2em;
    color: #607476;
    margin-top: 10px;
}

.examples a:link{
    text-decoration: none;
    color: #616857;
    font-size: .7em;
}

.examples span{
   color: #c0cac3;
   font-family: 'italic';
   font-size: .9em;
}

.resources{
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(./bamboo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -18px;
    padding-bottom: 10px;
}

.resources ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 10px;
}

.resources li{
    display: block;
    border-top: solid 1px #a0b9ad;
}

.resources h3{
    font-size: 1.2em;
    color: #607476;
    margin-top: 20px;
}

/* Display styling */

.hide1{
    display: none;
}

@media screen and (min-width: 1440px){
    body{
        grid-template-rows: auto 1fr 1fr 1fr auto auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .header{
        grid-template-rows: auto auto auto;
        grid-column: 1/-1;
        grid-row: 1;
        font-size: 100%;
    }

    .header h1{
        font-size: 3.5em;
        margin-bottom: 0;
    }

    h1::before{
        grid-column: 1/2;
        grid-row: 2;

    }

    .mainLeft{
        /* padding-left: 10%;
        padding-right: 5%; */
        grid-template-columns: auto;
        /* grid-template-rows: */
        grid-column: 1/3;
        grid-row: 2/4;
    }

    /* .intro, .enlightenment, .about{
        display: grid;
        grid-column: 1/3;
        grid-row: 2/4;
    } */
/*     
    .participation{
        display: grid;
        grid-column: 1/4;
        grid-row: 3/4;
    } */
    .mainRight{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column: 3/4;
        grid-row: 2/4;
        margin-top: -20px;
    }

    .examples{
        display: grid;
        grid-column: 1/4;
        grid-row: 1/2;
        padding-top: 20px;
    }
    .examples ul{
        /* margin: 0; */
    }
    .resources{
        display: grid;
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .pre-footer{
        grid-row: 4/5;
    }

    .footer{
        grid-row: 5/6;
    }

    .hide1{
        display: block;
    }
}